 /*
 Program Name:patient-form.html
Author:Anam Amir
Date Created:9/17/2025
Date last edited:9/26/2025
Version:1.0
Description: Homework 1 learning and creating a CSS file
*/

header {
  display:flex;
  align-items:center;
  justify-content: space-between;
  width:100%;
  background-color: rgba(78, 212, 236, 0.491);
}
header h2{
  margin: 0 auto;      /* pushes title to the center */
  flex: 1;             /* let h1 take space in the middle */
}



body{
  display:flex;
  flex-direction: column;
  align-items:center;
  background-color:rgb(172, 235, 247);
  margin:0;
  height:100%;
  min-height:100vh; /*to make sure that the page is height of the viewport*/

}
form{
  flex-grow:1;
}
h1,h2{
  font-family:"Copperplate",fantasy;
  font-weight:normal;
}

main{
  flex:1;/* take all remaining space */
  font-family:"Copperplate",fantasy;
  
}

.image{
  text-align:left;

}

.apc1{
  font-family:"optima",sans-serif;
  
}
th {
font-family:"optima",sans-serif;
}

footer{
  text-align:center;
  width:100%;
  background-color:rgb(78, 212, 236, 0.491);
  height:3.0 rem;
}

#footer{
  text-align:right;
  font-family:"optima",sans-serif;
  font-weight: normal;
  margin-right:12px;
}

label{
  text-align:right;
  font-family:"optima",sans-serif;
  font-weight: normal;
}

input{
  text-align:left;
  font-family:"optima",sans-serif;
  font-weight: normal;
}

textarea{
   text-align:left;
  font-family:"optima",sans-serif;
  font-weight: normal;
}

#today{
   text-align:left;
  font-family:"optima",sans-serif;
  font-weight: normal;
}

.error {
  color:red;
  font-size :12px;
  font-family:"optima",sans-serif;
  font-weight: normal;
}

.pword-message {
text-align: right;
font-family:"optima", sans-serif;
font-weight: normal;
position: relative;
left: 100px;
background: transparent;
padding:10px;
border-spacing: 2px;
border-radius: 20px;
color: red;
}

#review {
margin-top:5px;
}

table.output,
tr.output,
td.output {
  width:500px;
  background-color:rgba(19, 212, 230, 0.425);
  padding:10px;
  border-spacing:2px;
  border-radius:20px;
  color:black;
}

td.outputdata {
  width:500px;
  background-color:rgba(19, 212, 230, 0.425);
  padding:10px;
  border-spacing:2px;
  
}
/*alert box styling*/
#alert-box{
  display:none;
  position: fixed;
  z-index: 9999;
  left:0;
  top:0;
  width:100%;
  height:100%;
  overflow:auto;
  background-color:rgba(29, 86,166, 0.442);
}
#alert-content{
  background-color:white;
  border-radius:10px;
  width:300px;
  height:135px;
  margin:auto;
  margin-top:20%;
  padding:30px;
  text-align:center;
}
#alert-content h4{
  font-size:20px;
  text-align:center;
  font-family:"optima",sans-serif;
  font-weight: normal;

}

#close-alert{
  background-color:white;
  border-width:1px;
  border-style:solid;
  color:rgba(4, 78, 180, 0.881);
  border-color:rgba(5, 58, 133, 0.871));
  font-size:15px;
  font-weight:bold;
  height:20px;
  width:80px;
  border-radius:20px;
  cursor:pointer;
  
  margin-top:20px;
  text-align: center;
   font-family:"optima",sans-serif;
}